.game {
  border: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 200px;
  position: relative;

  .user {
    background-color: #000;
    max-height: 8px;
    min-height: 8px;
    left: 0;
    opacity: 0.54;
    position: fixed;
    top: 0;
    max-width: 8px;
    min-width: 8px;
  }

  .question {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    font-size: 18px;
    padding: 24px;
    text-align: center;

    .category {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      margin: 0 0 8px;
    }

    .button {
      background-color: rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      margin: 16px 0 0;
      padding: 8px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.24);
      }

      &.selected {
        background-color: rgba(0, 0, 255, 0.24);
      }
    }
  }

  .clock {
    font-size: 36px;
    position: absolute;
    right: 24px;
    top: 8px;
  }
}
