.game {
  border: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 200px;
  position: relative;

  .user {
    background-color: #000;
    max-height: 8px;
    min-height: 8px;
    left: 0;
    opacity: 0.36;
    position: fixed;
    top: 0;
    max-width: 8px;
    min-width: 8px;
  }
}
