<div class="chat">
  <div>
      <input
        [(ngModel)]="userInput"
        placeholder="User Name"
        (keyup.enter)="onClickUserInfo(userInput)"
      />
  </div>
  <div class="chat-container" *ngFor="let message of messages">
    <div *ngIf="message.action === undefined">From: {{message.from.name}}</div>
    <div *ngIf="message.action === undefined">Content: {{message.content}}</div>
    <div *ngIf="message.action === 'joined'"><b>{{message.from.name}}</b> joined to the conversation.</div>
    <div *ngIf="message.action === 'renamed'"><b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b></div>
  </div>
  <div>
    <input
      #inputMessage
      maxlength="140"
      placeholder="Type your message"
      [(ngModel)]="messageContent"
      (keyup.enter)="sendMessage(messageContent)"
    />
    <div>{{inputMessage.value.length}}/140</div>
  </div>
  <socket-game></socket-game>
</div>
