.chat {
  background-color: rgba(0, 0, 0, 0.12);
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 48px 16px 32px;
  position: relative;
  text-align: left;

  .name {
    position: absolute;
    right: 16px;
    top: 8px;
    width: calc(100% - 32px);

    .user {
      font-weight: bold;
      position: relative;
      top: 8px;
    }
    
    .change {
      color: rgba(0, 0, 255, 0.24);
      font-size: 12px;
      position: absolute;
      right: 26px;
      top: 10px;
      white-space: nowrap;
    }

    input {
      outline: none;
      position: absolute;
      top: 8px;
      right: 36px;
    }

    img {
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 0;
      top: 8px;
    }
  }

  .message {
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.86);
    font-size: 14px;
    margin: 16px 0 0;
    padding: 4px 8px;

    .from {
      font-size: 12px;
    }
  }

  .input {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: flex-start;

    input {
      border: 1px solid rgba(0, 0, 0, 0.24);
      border-radius: 2px;
      margin: 0 8px 0 0;
      outline: none;
      padding: 4px 8px;
      width: 100%;
    }
  }
}
